.add__container {
  display: inline-flex;
  gap: 0.5rem;
}
.add__field {
  position: relative;
}

.add__input {
  /* width: 100%; */
  border: 1px solid var(--focus-color);
  padding: 1rem 1rem 1rem 4rem;
  border-radius: 0.5rem;
  outline: none;
  font-weight: 500;
  transition: focus-color 0.4s, box-shadow 0.4s;
}

.add__input::placeholder {
  color: var(--text-color);
}

.add__label {
  position: absolute;
  left: 1.5rem;
  top: -1.2rem;
  background-color: var(--body-color);
  padding: 2px;
  font-size: var(--small-font-size);
  font-weight: 500;
}

.add__field::after {
  content: "";
  position: absolute;
  height: 28px;
  border: 1px solid var(--focus-color);
  left: 3.75rem;
  top: 0;
  bottom: 0;
  margin-block: auto;
}

.pink__button {
  background-color: var(--focus-color);
  color: var(--body-color);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: var(--normal-font-size);
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
  max-width: 500px;
}

.pink__button:hover {
  opacity: 0.8;
}

.add__icon {
  height: max-content;
  font-size: 1.5rem;
  position: absolute;
  left: 1.5rem;
  top: 0;
  bottom: 0;
  margin-block: auto;
  color: var(--focus-color);
}

@media screen and (min-width: 1150px) {
  .add__input {
    width: 500px;
  }
}
/* huiwhdhudfc */
.item__list {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid var(--focus-color);
}

.update__btn {
  background-color: var(--focus-color);
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  /* margin-left: 5px; */
  color: var(--body-color);
  font-size: 1rem;
  border-radius: 0.5rem;
}

.delete__btn {
  background-color: red;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  /* margin-left: 5px; */
  color: var(--body-color);
  font-size: 1rem;
  border-radius: 0.5rem;
}
